# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
.env

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Dataset
# ==========================
data/
train-faces/
combined-train/
*.zip

# ==========================
# Model Checkpoints
# ==========================
checkpoints_baseline/
checkpoints_train_faces/
checkpoints_combined/

checkpoints_baseline/*.pth

# ==========================
# Kaggle Files
# ==========================
sample_submission.csv
submission*.csv
train_relationships.csv

# ==========================
# Temporary Files
# ==========================
temp/
tmp/
*.tmp

# ==========================
# Streamlit
# ==========================
.streamlit/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

